<?xml version="1.0" encoding="UTF-8"?>
<config>
    <application title="Projet MApUCE" logo="img/logo/Logo_Mapuce_V2_small.png" help="mapuce_help.html" measuretools="true" exportpng="false" style="css/themes/peter_river.css"/>
    <!--<mapoptions projection="EPSG:2154" extent="145518,6726671,372058,6868691"  />-->
    <mapoptions maxzoom="19" projection="EPSG:2154" center="-220750.13768758904,6144925.57790189" zoom="8" projextent="-20037508.342789244, -20037508.342789244, 20037508.342789244, 20037508.342789244" />
  
    <baselayers style="default"><!-- style="default"||gallery" --> 
        <baselayer  type="OSM" id="positron" label="CartoDb OSM" title="CartoDb" thumbgallery="img/basemap/positron.png" 
            url="http://{a-c}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" maxzoom="20" 
            visible="true" attribution="Map tiles by  &lt;a href='http://cartodb.com/attributions'>CartoDb &lt;/a>, under  &lt;a href='http://creativecommons.org/licenses/by/3.0/'>CC BY 3.0 &lt;/a>" />
        <baselayer  type="OSM" id="osm1" label="OpenStreetMap" title="OpenStreetMap" thumbgallery="img/basemap/osm.png" 
            url="http://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png" 
            attribution="© MapQuest. Données : les contributeurs d'&lt;a href='http://www.openstreetmap.org/' target='_blank'>OpenStreetMap &lt;/a>,  &lt;a href='http://www.openstreetmap.org/copyright' target='_blank'>ODbL &lt;/a>" visible="false"/> 
	<baselayer  type="OSM" id="esriworldimagery" label="Esri world imagery" title="esriworldimagery" thumbgallery="img/basemap/ortho.jpg"
            url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}" visible="false" 
            attribution="VIDE" />
    </baselayers> 
    <olscompletion url="http://api-adresse.data.gouv.fr/search/" type="ban"/>
    <searchparameters bbox="false" localities="true" features="true" static="true"/>
    <widgets>
       <!--<widget name="gauge"/>-->       
    </widgets> 

    <themes mini="true">  
    	<theme name="Zones d'études"  collapsed="false" id="zones" icon="university"> 

		<layer id="mapuce:usr" name="USR"  visible="true" 
                style="usr_dashstroke" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />

		<layer id="mapuce:urban_areas_status" name="Communes analysées"  visible="true" 
                style="" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />

		<layer id="mapuce:unites_urbaines" name="Unités urbaines"  visible="true" 
                style="unites_urbaines" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />       
        
        </theme>
        <theme name="Indicateurs par USR"  collapsed="false" id="indicateurs" icon="group">   
          	<group name="Surfaces" id="grp1" >

		<layer id="mapuce:usr_indicators_metropole_geom" name="% de surface de routes"  visible="false" 
                style="usr_road_dens" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />

		<layer id="mapuce:usr_indicators_metropole_geom" name="% de surface en eau"  visible="false" 
                style="usr_eau_dens" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="% de surface de végétation"  visible="false" 
                style="usr_veget_dens" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="% de surface de plancher"  visible="false" 
                style="usr_floor_ratio" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="% de surface de bâtiments"  visible="false" 
                style="usr_build_dens" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />   

		</group>

		<group name="Formes" id="grp2" >

		<layer id="mapuce:usr_indicators_metropole_geom" name="Compacité moyenne des blocs"  visible="false" 
                style="usr_b_m_w_compacity" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="Compacité moyenne des bâtiments"  visible="false" 
                style="usr_compac_mean_w" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="Volume moyen des bâtiments"  visible="false" 
                style="usr_b_vol_mean" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_indicators_metropole_geom" name="Hauteur moyenne des bâtiments"  visible="false" 
                style="usr_h_mean" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />	                
		     
            	</group>

 		<group name="Autres" id="grp3" >	  

		<layer id="mapuce:usr_indicators_metropole_geom" name="Nombre de bâtiments"  visible="false" 
                style="usr_build_num_prop_point" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />

		<layer id="mapuce:usr_indicators_metropole_geom" name="Distance moyenne entre bâtiments"  visible="false" 
                style="usr_mean_m_dist" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />   

            	</group>
        </theme>                    
        <theme name="Typologies"  collapsed="true" id="typologie" icon="group"> 
          	<layer id="mapuce:typo_usr_geom" name="Bâtiment majoritaire par îlots"  visible="false" 
                style="typo_usr" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" /> 

		<layer id="mapuce:usr_lcz" name="Zones climatiques locales (LCZ)"  visible="false" 
                style="usr_lcz" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />
        </theme>

        <theme name="Ilôt de Chaleur Urbain (ICU)"  collapsed="true" id="icu" icon="group"> 
            <layer id="mapuce:icu_hot_summer_1" name="ICU - Scénario ETE 1"  visible="false" 
                style="icu_hot_summer" tiled="false"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />

            <layer id="mapuce:icu_hot_summer_2" name="ICU - Scénario ETE 2"  visible="false" 
                style="icu_hot_summer" tiled="true"
                url="https://geoclimate.orbisgis.org/geoserver/mapuce/wms"
                metadata=""
                metadata-csw="" />   
        </theme>        

    </themes>
</config>
